/*
Error: File to import not found or unreadable: font-awesome.
       Load paths:
         Compass::SpriteImporter
         /Users/karim/Projects/PitchMe/OuiShare/app/assets/stylesheets
         /Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-core-1.0.1/stylesheets
         /Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/zurb-foundation-4.3.2/scss
        on line 7 of /Users/karim/Projects/PitchMe/OuiShare/app/assets/stylesheets/application.sass

2: @import foundation
3: @import foundation/variables
4: @import foundation/components/global
5: @import foundation/components/dropdown
6: @import base
7: @import font-awesome
8: @import fonts
9: @import footer
10: @import home
11: @import about
12: @import communities

Backtrace:
/Users/karim/Projects/PitchMe/OuiShare/app/assets/stylesheets/application.sass:7
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/bin/compass:23:in `load'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/bin/compass:23:in `<main>'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/bin/ruby_executable_hooks:15:in `eval'
/Users/karim/.rvm/gems/ruby-2.0.0-p576/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: font-awesome.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/karim/Projects/PitchMe/OuiShare/app/assets/stylesheets\A          /Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/compass-core-1.0.1/stylesheets\A          /Users/karim/.rvm/gems/ruby-2.0.0-p576/gems/zurb-foundation-4.3.2/scss\A         on line 7 of /Users/karim/Projects/PitchMe/OuiShare/app/assets/stylesheets/application.sass\A \A 2: @import foundation\A 3: @import foundation/variables\A 4: @import foundation/components/global\A 5: @import foundation/components/dropdown\A 6: @import base\A 7: @import font-awesome\A 8: @import fonts\A 9: @import footer\A 10: @import home\A 11: @import about\A 12: @import communities"; }
