= @project.name
= @project.resume
= @project.image.url
= @project.info
= @project.join_us_text
= @project.service1_image.url
= @project.service1_link
= @project.service1_title
= @project.service2_image.url
= @project.service2_link
= @project.service2_title
= @project.service3_image.url
= @project.service3_link
= @project.service3_title
= @project.title1
= @project.text1
= @project.title2
= @project.text2
