.col-lg-12
  iframe width="600" height="1950" id="haWidget" src="//www.helloasso.com/associations/ouishare/formulaires/1/widget?color=%2370c24a" style="width:600px;height:1950px;border:none;margin: 0 -1em"
