strong = "Name: "
= "#{@params[:name]}"
br/
strong = "Email: "
= "#{@params[:email]}"
br/
strong = "City: "
= "#{@params[:city]}"
br/
strong = "Country: "
= "#{@params[:country]}"
br/
br/
= @params[:message]
