.container
	.row
		%h1{:style => "text-align:center;margin-top:50px;"} Oops ! This page may have been moved or deleted !
	.row
		%h2{:style => "text-align:center;margin-top:20px;"}
			= link_to 'Back to Home Page', root_path