#second-header
  background: #ddd

  .social, .l18n
    margin-top: 1.2em
    ul
      li
        float: right
        margin-left: 0.375em
        a
          width: 30px
          height: 30px
          display: block
          background: #ccc
          +border-radius(20px)
span.brk
  display: block
  clear: both

.top-bar-section
  .right
    .donate
      margin-right: 20px

    .button
      background: #383838
      border: #383838

      &:hover
        background: #747474
        border: #747474
