#second-header
  .social
    text-align: right
    a
      display: inline-block
      border: 1px solid white
      text-align: center
      margin-right: 10px
      height: 30px
      width: 30px
      color: white
      line-height: 20pt

      &.facebook
        background-color: #3c5a9a

      &.twitter
        background-color: #359bed

      &.play
        background-color: #e82d28

    select
      +appearance(none)
      background: image-url('home/arrow.png') no-repeat 30px 10px transparent
      border: 1px solid white
      +border-radius(none)
      color: white
      height: 30px
      float: right
      padding: 6px
      font-size: .7em
      text-indent: 0.01px
      text-overflow: ""

span.brk
  display: block
  clear: both

.top-bar-section
  .right
    .donate
      margin-right: 20px

    .button
      background: #383838
      border: #383838

      &:hover
        background: #747474
        border: #747474
