#page-communities

  .explain
    padding-bottom: 30px

  section#map
    .map
      width: 100%
      display: block
      padding-bottom: 64px

  .community
    margin-bottom: 40px

  .avatars
    text-align: center

  .block
    background: gray
    width: 70px
    height: 70px
    display: inline-block
    margin: 3px

#communities-list
  background: white
  color: black

  h3
    color: black
    margin-bottom: 20px

  p.title
    text-transform: uppercase
    margin-bottom: 5px

#page-live
  section
    padding: 64px 0

  .banner
    background: #CCC
    width: 100%
    display: block

  .more-content
    h4
      color: white
      font-weight: normal
      text-transform: uppercase

    .btn
      margin-bottom: 40px
