#events, #projects
  margin-top: 40px

  #list
    h4
      text-align: left

    h3
      font-size: 35px
      // margin-bottom: 30px
    h4
      font-size: 24px
      text-transform: none

#list
  .col-lg-6.col-lg-offset-3.col-sm-12
    margin-bottom: 60px 

.event-inactive
  //background: grey
  color: #A0ADCA