.welcome
  background: url('images/bg/01.png)') no-repeat #ddd
  padding: 25px 0

  .video
    width: 300px
    height: 200px
    background: #999
    display: block
    margin-top: 40px


  .subscribe
    text-align: center

    .separator
      border-top: 1px solid black
      width: 200px
      display: block
      margin: 30px auto
