#projects
  #slideshow
    .slideshow
      width: 100%
      height: 300px
      display: block
      background: #ccc
      margin: 20px 0


  #list
    .event
      padding: 20px 0
      border-bottom: 1px solid #ccc

      .thumb
        width: 100%
        height: 200px
        display: block
        background: #ccc
