#page-team
  section
    padding: 25px 0

  .theTeam, .festTeam
    li

      p.name
        margin-bottom: 5px
        font-size: 14px

      .social
        padding-top: 10px
        display: table
        margin: 0 auto
