#page-team
  section
    padding: 25px 0

  .theTeam, .festTeam
    li
      padding: 10px 0
      .avatar
        display: inline-block
        vertical-align: top
      .desc
        display: inline-block
        clear: both
        margin-bottom: 5px
        margin-left: 5px
        font-size: 13px
        width: 179px

        p.name
          font-weight: bold
          text-transform: uppercase
          margin: 0

        p.position
          color: black
