#page-team
  section
    padding: 25px 0

  .theTeam, .festTeam
    li
      text-align: center

      p.name
        margin-bottom: 5px

      .social
        padding-top: 10px
        display: table
        margin: 0 auto
